.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.title {
  color: var(--header-text);
  margin-bottom: 10px;
  font-size: 2rem;
}

.finishTime {
  color: var(--body-text);
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.inputContainer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.label {
  color: var(--body-text);
  margin-right: 10px;
  font-size: 1.1rem;
}

.input {
  color: var(--header-text);
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: all 0.3s ease;
  width: 150px;
}

.input:focus {
  outline: none;
  border-color: var(--highlight-color);
  box-shadow: 0 0 15px var(--highlight-color);
}

.input::placeholder {
  color: var(--placeholder-text);
}

.quarterInputsContainer {
  margin-bottom: 50px;
}
