.page {
  padding: 2% 7%;
  height: 100vh;
}

.title {
  text-align: center;
  color: var(--header-text);
}

.benchmarkContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.themeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: gray;
  color: var(--body-text);
  border: none;
  padding: 5px 5px;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
  justify-self: center;
}

.themeButton:hover {
  background-color: #ff5500; /* Darker shade of orange */
}
